* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Login-form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 26%;
    padding: 25px;
    border: 2px solid #35582e;
}

.input-login {
    margin: 15px 0;
    padding: 10px;
    border:unset;
    border-bottom: 2px solid #35582e;
    outline: none;
}

.btn-login {
    padding: 10px;
    border-radius: 9px;
    width: 84px;
    margin: 6px auto;
    background: #5b8b29;
    color: aliceblue;
    border: unset;
    cursor: pointer;
}

.btn-login:active {
    background: aliceblue;
    color: #365714;
    border: 1px solid #365714;
}

.signin-par {
    margin: 10px;
}

a {
    color: #64c400;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #3d5c1d;
}

.message-err {
    font-weight: bold;
    color: #e80909;
    border: 1px solid darkred;
    padding: 10px;
    text-align: center;

}

.message-suc {
    font-weight: bold;
    color: #65d43f;
    border: 1px solid #359214;
    padding: 10px;
    text-align: center;

}

.profile {
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 26%;
    padding: 25px;
    border: 2px solid #365714;
    border-radius: 9px;
}